#gameTitle {
	color: #00FFFFFF;
}

#instructions {
	color: white;
}

.jumbotron {
	background-color: #444;
}

body {
	background-image: url(http://freedesignfile.com/upload/2017/02/Mysterious-space-background-art-vectors-03.jpg);
	background-size: cover;
}

#wins {
	color: #00ffff;
	font-size: 40px;
	background-color: #444;
	width: 500px;
	text-align: center;
	margin-left: 100px;
	border-radius: 12px;
	margin-bottom: 20px;
}


#losses {
	color: #00ffff;
	font-size: 40px;
	background-color: #444;
	width: 500px;
	text-align: center;
	margin-left: 100px;
	border-radius: 12px;
	margin-bottom: 20px;
}


#guessesLeft {
	color: #00ffff;
	font-size: 40px;
	background-color: #444;
	width: 500px;
	text-align: center;
	margin-left: 100px;
	border-radius: 12px;
}